.navbar-brand {
    background-color: #4aaaa5;
    border: 50px #4aaaa5;
    padding: 20px;
    margin-left: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
}
img{
    margin-left: 25px;
    height:100px;
    width:200px;
}
body {
    background-image: url("https://github.com/helenp90/Responsive-Portfolio/blob/master/images%20copy/regal.png?raw=true");
}
.navbar-right {
    margin-right: 150px;
}
.portfolio{
    color:grey;
    padding-right: 15px;
}
.contact{
    color:grey;
    padding-right: 15px;
}
.container{
    background-color: white;
    box-sizing: 
    border:50px, bold, lightgrey;
}

.panel text {
    padding-right: 80px;
}
footer{
    background-color: grey;
    border-top: #4aaaa5
}

